@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

.resume-form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume-form{
    padding: 2rem;
    border: 1px solid black;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.resume-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}

.section-fields{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.section-input{
    width: 100%;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 5px;
    border-width: 1px;
}

.section-title{
    margin: 0 0 0.5rem 0;
    font-size: 1.8em;
}

.create-section-button{
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    font-size: 20px;
}

.present{
    font-size: 1em;
    padding: 5px 0px 0px 2px;
}

.present > *{
    margin-right: 5px;
}
